# created by virtualenv automatically
# venv
.venv
venv/
venv

#data
data/

.idea/


# data
data
.DS_Store

# dotenv
.env

# virtualenv

ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Byte-compiled / optimized / DLL files
__pycache__/
